*{
    margin: 0px 0px;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 70px;
    color: white;
    font-size: 40px; 
    font-family: 'Times New Roman', Times, serif;
}
nav{
    display: flex;
    background-color: blue;
    /* overflow: hidden; */
    /* position: sticky; */
    top: 0px;
}
nav a{
    display: block;
    color: white;
    text-decoration: none;
    float: left;
    padding: 14px 20px;
    font-family: sans-serif;
    text-align: center;
    
}
nav a:hover{
    background-color: white;
    color: black;
}
section {
    text-align: center;
    height: 100%;
    min-height: 100vh;
    padding: 75px;
}
section img,
a,
video{
    padding: 0px 20px ;
}
h2{
    padding-bottom: 50px;
    font-family: sans-serif;
}
footer{
    height: auto;
    width: 100%;
    position:fixed;

    /* overflow:scroll; */
    background-color: red;
    bottom: 0px;
}
footer a{
    display: block;
    color: white;
    text-decoration: none;
    float: left;
    padding: 14px 20px;
    
}
footer a:hover{
    background-color: white;
    color: black;
}
.copyr{
    float: right;
}
section p{
    margin: 0px 150px;
    
}
.about{
    height: 125vh;
}
img{
    height: 50vh;
}
/* .players img{
    width: 20%;
    padding: 10px;
} */
/* .articles img,
h3{
    float: left;
    width: 30%;
    align-items: center;
   
} */
.articles h3{
    margin-top: 10px;
}
.players h3{
    /* width: 24%;
    text-align: center;
    padding: 5px; */
    margin-top: 10px;

}

.banner{
    background-image: url(banner.gif);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 27vw;
    background-attachment: fixed;
    min-height: 100px;
}

.flex-align-right{
    margin-left: auto;
}
span{
    background: linear-gradient(to right, #f5d837, #bbb812);
    padding: 10px 55px;
    border-radius: 20px;
    color: white;
}

.carousel-cell{
    width: 66%;
    margin-right: 10px;
    border-radius: 5px;
}

.carousel-cell video,
iframe{
    width: 100%;
}

.iframe-container{
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}

.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.img-responsivness{
    height: 90vh;
    max-width: 100vh;
}

.flogo{
    height: 130px;
}

.about a{
    text-decoration: none;
    background-color: lightgray;
    padding: 10px 15px;
    border-radius: 30px;
    margin: 5px 10px;
}

.about a :hover{
    background-color: rgb(30,30,30 /25%);
}

.about a i{
    margin: 5px;
}

.about p{
    height: 100vh;
    margin: auto;
}

.yt{
    color: red;
}

.insta{
    color: #dd2a7b;
}

@media screen and (max-width:1000px) {
    nav{
        flex-direction: column;
        padding: 10px 0px
    }

    h2{
        font-size: small;
    }
    span{
        padding: 10px 20px;
    }
    section {
        text-align: center;
        height:min-content;
        min-height: 60vh;
        padding: 25px;
    }
    .lvideos{
        min-height: 40vh;
    }
    .articleimg{
        height: 100%;
        width: 100%;
    }

    .articles h3{
        text-align :center;
        padding-left: 60px;
    }
    .img-responsivness{
        max-width: 100%;
        height: auto;
    }
    .about a{
        font-size: small;
        margin: auto;
        padding: 5px 5px;

    }
    .about p{
        height: 100vh;
        margin: auto;
        font-size: small;
        padding-bottom: 10px 0px 20px 0px;
    }
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px;
    }
    footer a{
        font-size: smaller;
    }
    
    .flex-align-right{
        margin-left: 0;
    }   
}

